*
{
    box-sizing: border-box;

}

#page
{
    margin: 0;
    padding:0;
    background: #030848;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
}

#top
{
    height:5vh;
    width:100vw;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
#user
{
    height:100%;
    font-size: 26px;
    color: #c2129e;
}

button
{
    border-radius: 20px;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#1ed760;
    color: black;
}

button:hover
{
    background-color: #1fdf64;
}